.container {
  display: flex;
  align-items: center;
  padding: 0px 2rem;
}
.side-content {
  flex-grow: 1;
}
.form-container {
  flex-basis: 700px;
}

.side-content {
  text-align: center;
  line-height: 4.5rem;
  font-size: 2rem;
  position: relative;
  width: 100%;
}
.side-content .text-one {
  font-size: 4rem;
  font-weight: bold;
  color: white;
  text-wrap: nowrap;
}
.side-content .text-two {
  font-size: 5rem;
  text-wrap: nowrap;
  font-weight: bold;
  color: #1ab188;
}

.side-content .text-three {
  font-size: 4rem;
  text-wrap: nowrap;
  font-weight: bold;
  color: white;
}

.form {
  display: flex;
  flex-direction: column;
  padding: 1rem 3rem;
  background-color: #1ab188;
  /* max-width: 500px; */
  width: 100%;
  border-radius: 8px;
  margin: 5rem 1rem;
  gap: 10px;
  margin-left: 3rem;
}

.text-field {
  background: white;
}

.form-group {
  display: flex;
  gap: 6px;
}
.form-group label {
  flex-grow: 1;
}

.login-input {
  display: flex;
  flex-direction: column;
  gap: 30px;
}

.title {
  color: var(--primary);
  letter-spacing: 0.8px;
  line-height: 4rem;
  font-size: 2rem;
  text-align: center;
}

.signin {
  color: #fff;
  font-size: 14px;
  text-align: center;
}

.signin a {
  color: var(--primary);
  text-decoration: none;
}

.form label input {
  padding: 1.4rem 0.7rem;
  border: none;
  outline: none;
  transition: 0.3s ease;
  border-radius: 8px;
  width: 100%;
  color: black;
  font-weight: bold;
}

.form label input:-webkit-autofill {
  -webkit-box-shadow: 0 0 0 50px white inset; /* Change the color to your own background color */
  -webkit-text-fill-color: #333;
}

.submit {
  background-color: #181818;
  padding: 20px 30px;
  border: none;
  outline: none;
  color: #fff;
  font-size: 1.5em;
  border-radius: 8px;
  transition: 0.3s ease;
  cursor: pointer;
}

.submit:hover {
  filter: brightness(50%);
}

.form label {
  position: relative;
}

.form label input:placeholder-shown + span {
  top: 15px;
  font-size: 1em;
}

.form label input + span {
  position: absolute;
  top: 15px;
  left: 10px;
  color: #cacaca;
  font-size: 1em;
  transition: 0.3s ease;
  padding: 4px 0;
}

.form label input:valid + span,
.form label input:focus + span {
  top: 35px;
  font-size: 0.7em;
  font-weight: 600;
}

.form label input:valid + span,
.form label input:focus + span {
  color: #1ab188;
}
.form label {
  border: 2px solid transparent;
  border-radius: 8px;
  transition: 0.2s;
}

.form label:focus-within {
  border: 2px solid black;
}
.dropdown {
  padding: 1.2rem 0.7rem;
  border: none;
  outline: none;
  transition: 0.3s ease;
  border-radius: 8px;
  width: 100%;
  background-color: white;
  color: #cacaca;
  font-size: 1em;
  position: relative;
}

.dropdown .option {
  padding: 1rem 4rem;
  border: none;
  outline: none;
  transition: 0.3s ease;
  width: 100%;
  background-color: white;
  color: black;
}

.dropdown option:checked {
  color: #181818;
}
@media screen and (max-width: 1200px) {
  .container {
    flex-direction: column-reverse;
    height: auto;
    padding: 18rem 0 1rem 0;
  }

  .form {
    display: flex;
    flex-direction: column;
    padding: 1rem 3rem;
    background-color: #1ab188;
    max-width: 500px;
    border-radius: 8px;
    margin: 5rem 0rem;
    gap: 10px;
 
  }
}



@media screen and (max-width: 550px) {
  .form {
   padding: 1rem;
  }
}

@media screen and (max-width : 750px){
  .side-content .text-one {
    font-size:3.5rem;
     text-wrap: wrap;
   
  }
  .side-content .text-two {
    font-size: 4rem;
     text-wrap: wrap;
 
  }
  
  .side-content .text-three {
    font-size: 3.5rem;
    text-wrap: wrap;
   
  }
  
  
}
