.header_section {
    display: flex;
    justify-content: start;
    gap: 5px;
    padding: 2rem 5rem;
    align-items: center;
    background: black;
  }
  
  .header_title {
    font-size: 2em;
    font-weight: bold;
    color: white;
    cursor: pointer;
  }
  
  .header__image {
    width: 70px;
    height: 70px;
    shape-outside: circle();
    clip-path: circle();
    cursor: pointer;
  }
  .header__image img {
    width: 100%;
  }

  @media screen and (max-width : 550px) {
    .header__image {
      width: 50px;
      height: 50px;
     
    }

    .header_section {
         padding: 2rem 3rem;
    
    }
    
    
  }